// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"

	sequenzygo "github.com/sequenzy/sequenzy-go"
	core "github.com/sequenzy/sequenzy-go/core"
	internal "github.com/sequenzy/sequenzy-go/internal"
	option "github.com/sequenzy/sequenzy-go/option"
	preferences "github.com/sequenzy/sequenzy-go/widgets/preferences"
)

type Client struct {
	WithRawResponse *RawClient
	Preferences     *preferences.Client

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		Preferences:     preferences.NewClient(options),
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Creates and publishes a saved signup form. Its opaque form ID becomes a client-safe public capability while audience and success settings remain server-side.
//
// Example:
//
//	request := &sequenzygo.CreateSavedFormRequest{
//	    ListIDs: []string{
//	        "listIds",
//	    },
//	    Name: "name",
//	}
//	client.Widgets.CreateSavedForm(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) CreateSavedForm(
	ctx context.Context,
	request *sequenzygo.CreateSavedFormRequest,
	opts ...option.RequestOption,
) (*sequenzygo.CreateSavedFormResponse, error) {
	response, err := c.WithRawResponse.CreateSavedForm(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Creates a saved on-site signup popup and returns the one-line script tag that deploys it. The popup is published by default, so the script is live as soon as it is added to the site. Trigger, targeting, audience, and duplicate handling stay server-side, so the deployed script carries no API key.
//
// Omit `listIds` to capture into every list, matching the dashboard default.
//
// Example:
//
//	request := &sequenzygo.CreateSavedPopupRequest{
//	    Name: "name",
//	}
//	client.Widgets.CreateSavedPopup(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) CreateSavedPopup(
	ctx context.Context,
	request *sequenzygo.CreateSavedPopupRequest,
	opts ...option.RequestOption,
) (*sequenzygo.CreateSavedPopupResponse, error) {
	response, err := c.WithRawResponse.CreateSavedPopup(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Permanently deletes a saved popup along with its view and conversion counts. Subscribers it already captured are not affected. To stop a popup from showing while keeping its stats, set its status to draft instead.
//
// Example:
//
//	request := &sequenzygo.DeleteSavedPopupRequest{
//	    PopupID: "popupId",
//	}
//	client.Widgets.DeleteSavedPopup(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) DeleteSavedPopup(
	ctx context.Context,
	request *sequenzygo.DeleteSavedPopupRequest,
	opts ...option.RequestOption,
) (*sequenzygo.DeleteSavedPopupResponse, error) {
	response, err := c.WithRawResponse.DeleteSavedPopup(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Copies a saved popup into a new draft with its own view and conversion counts. The original keeps its status and stats, so a live popup carries on showing while the copy is edited.
//
// Example:
//
//	request := &sequenzygo.DuplicateSavedPopupRequest{
//	    PopupID: "popupId",
//	}
//	client.Widgets.DuplicateSavedPopup(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) DuplicateSavedPopup(
	ctx context.Context,
	request *sequenzygo.DuplicateSavedPopupRequest,
	opts ...option.RequestOption,
) (*sequenzygo.DuplicateSavedPopupResponse, error) {
	response, err := c.WithRawResponse.DuplicateSavedPopup(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Compatibility path for saved signup form embed scripts. New embeds should use `/forms/{formId}/embed.js`.
//
// The script renders the current saved form settings when the page loads, so dashboard edits apply to deployed JavaScript embeds without copying new HTML.
//
// Example:
//
//	request := &sequenzygo.GetCompanyScopedSavedSignupFormEmbedScriptRequest{
//	    CompanyIDOrFormID: "companyIdOrFormId",
//	    FormID: "formId",
//	}
//	client.Widgets.GetCompanyScopedSavedSignupFormEmbedScript(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GetCompanyScopedSavedSignupFormEmbedScript(
	ctx context.Context,
	request *sequenzygo.GetCompanyScopedSavedSignupFormEmbedScriptRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.GetCompanyScopedSavedSignupFormEmbedScript(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Load the hosted JavaScript runtime for popup signup widgets. No API key is required.
//
// Example:
//
//	client.Widgets.GetPopupWidgetRuntime(
//	    context.TODO(),
//	)
func (c *Client) GetPopupWidgetRuntime(
	ctx context.Context,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.GetPopupWidgetRuntime(
		ctx,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Returns a published saved form's public action URL, hosted JavaScript, minimal native form, fetch enhancement, and supported static-site platforms.
//
// Example:
//
//	request := &sequenzygo.GetSavedFormEmbedRequest{
//	    FormID: "formId",
//	}
//	client.Widgets.GetSavedFormEmbed(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GetSavedFormEmbed(
	ctx context.Context,
	request *sequenzygo.GetSavedFormEmbedRequest,
	opts ...option.RequestOption,
) (*sequenzygo.GetSavedFormEmbedResponse, error) {
	response, err := c.WithRawResponse.GetSavedFormEmbed(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns one saved popup with its complete content blocks, trigger, targeting, schedule, frequency, and theme. Read this before replacing blocks so the replacement array stays complete.
//
// Example:
//
//	request := &sequenzygo.GetSavedPopupRequest{
//	    PopupID: "popupId",
//	}
//	client.Widgets.GetSavedPopup(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GetSavedPopup(
	ctx context.Context,
	request *sequenzygo.GetSavedPopupRequest,
	opts ...option.RequestOption,
) (*sequenzygo.GetSavedPopupResponse, error) {
	response, err := c.WithRawResponse.GetSavedPopup(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns a published popup's script URL plus ready-to-paste snippets for plain HTML, React and Next.js, WordPress, and Shopify. The snippets carry no API key.
//
// Example:
//
//	request := &sequenzygo.GetSavedPopupEmbedRequest{
//	    PopupID: "popupId",
//	}
//	client.Widgets.GetSavedPopupEmbed(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GetSavedPopupEmbed(
	ctx context.Context,
	request *sequenzygo.GetSavedPopupEmbedRequest,
	opts ...option.RequestOption,
) (*sequenzygo.GetSavedPopupEmbedResponse, error) {
	response, err := c.WithRawResponse.GetSavedPopupEmbed(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Load a saved signup form with one line of JavaScript. No API key is required.
//
// The script renders the current saved form settings when the page loads, so dashboard edits apply to deployed JavaScript embeds without copying new HTML.
//
// Example:
//
//	request := &sequenzygo.GetSavedSignupFormEmbedScriptRequest{
//	    CompanyIDOrFormID: "companyIdOrFormId",
//	}
//	client.Widgets.GetSavedSignupFormEmbedScript(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GetSavedSignupFormEmbedScript(
	ctx context.Context,
	request *sequenzygo.GetSavedSignupFormEmbedScriptRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.GetSavedSignupFormEmbedScript(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Lists saved signup forms for the authenticated workspace, including their server-managed audience settings and public action URLs.
//
// Example:
//
//	client.Widgets.ListSavedForms(
//	    context.TODO(),
//	)
func (c *Client) ListSavedForms(
	ctx context.Context,
	opts ...option.RequestOption,
) (*sequenzygo.ListSavedFormsResponse, error) {
	response, err := c.WithRawResponse.ListSavedForms(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Lists saved on-site signup popups for the authenticated workspace, including their trigger, targeting, audience settings, and view and conversion counts.
//
// Example:
//
//	request := &sequenzygo.ListSavedPopupsRequest{}
//	client.Widgets.ListSavedPopups(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListSavedPopups(
	ctx context.Context,
	request *sequenzygo.ListSavedPopupsRequest,
	opts ...option.RequestOption,
) (*sequenzygo.ListSavedPopupsResponse, error) {
	response, err := c.WithRawResponse.ListSavedPopups(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Compatibility path for saved signup form submissions. New embeds should use `/forms/{formId}`.
//
// The form's stored settings are the source of truth for audience targeting (lists, tags) and success behavior (success message or redirect URL), so dashboard edits apply to deployed embeds without re-embedding. List, tag, and redirect values in the request are ignored.
//
// Example:
//
//	request := &sequenzygo.SubmitCompanyScopedSavedSignupFormRequest{
//	    CompanyIDOrFormID: "companyIdOrFormId",
//	    FormID: "formId",
//	    Email: "user@example.com",
//	}
//	client.Widgets.SubmitCompanyScopedSavedSignupForm(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) SubmitCompanyScopedSavedSignupForm(
	ctx context.Context,
	request *sequenzygo.SubmitCompanyScopedSavedSignupFormRequest,
	opts ...option.RequestOption,
) (*sequenzygo.SubmitCompanyScopedSavedSignupFormResponse, error) {
	response, err := c.WithRawResponse.SubmitCompanyScopedSavedSignupForm(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Submit a saved popup without an API key. The popup's stored content is the source of truth for audience targeting, duplicate handling, custom fields, and success behavior.
//
// Example:
//
//	request := &sequenzygo.SubmitSavedPopupRequest{
//	    PopupID: "popupId",
//	    Email: "user@example.com",
//	}
//	client.Widgets.SubmitSavedPopup(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) SubmitSavedPopup(
	ctx context.Context,
	request *sequenzygo.SubmitSavedPopupRequest,
	opts ...option.RequestOption,
) (*sequenzygo.SubmitSavedPopupResponse, error) {
	response, err := c.WithRawResponse.SubmitSavedPopup(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Submit a public signup form. No API key is required.
//
// When the path value is a saved form ID, the form's stored settings are used for audience targeting and success behavior. When the path value is a company ID, this endpoint uses the legacy company-level form behavior.
//
// Omit `lists` to use the workspace default lists setting, provide `lists=` to add the subscriber to no lists, or provide comma-separated list IDs for specific lists. Provide stable `tags` IDs to apply existing tags to the subscriber.
//
// Example:
//
//	request := &sequenzygo.SubmitSignupFormRequest{
//	    CompanyIDOrFormID: "companyIdOrFormId",
//	    Lists: sequenzygo.String(
//	        "list_abc123,list_def456",
//	    ),
//	    Tags: sequenzygo.String(
//	        "tag_abc123,tag_def456",
//	    ),
//	    Email: "user@example.com",
//	}
//	client.Widgets.SubmitSignupForm(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) SubmitSignupForm(
	ctx context.Context,
	request *sequenzygo.SubmitSignupFormRequest,
	opts ...option.RequestOption,
) (*sequenzygo.SubmitSignupFormResponse, error) {
	response, err := c.WithRawResponse.SubmitSignupForm(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Update a saved form's name, audience targeting, copy, visual theme, or content blocks. Every field is optional - send only what should change.
//
// The `headline`, `description`, `buttonText`, and `successMessage` fields edit the matching content block and fail with 400 when the form has no such block; replace `blocks` for structural changes. The `blocks` array fully replaces the form's content blocks and must keep exactly one required email field and one submit button. An empty `redirectUrl` switches the form back to its confirmation message.
//
// Blocks render in array order and each needs a unique `id` and a `kind`. Input blocks use `kind: "form-field"` with `fieldType` (text, email, phone, number, textarea, select, radio, checkbox, consent, hidden), `name` (the custom attribute key), `label`, `placeholder`, `required`, `defaultValue`, `showLabel`, `width` (full or half), `mapsTo` (email, firstName, lastName, phone, customAttribute; defaults to customAttribute), and `options` for choice fields (`[{ value, label, id }]`, where label and id default to value). A hidden field with a `defaultValue` stores that server-owned value and ignores submitted values; a hidden field without one stores the value the page submits. Validation errors name the offending property, for example `blocks[3].options[0].value`.
//
// Example:
//
//	request := &sequenzygo.UpdateSavedFormRequest{
//	    CompanyIDOrFormID: "companyIdOrFormId",
//	}
//	client.Widgets.UpdateSavedForm(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) UpdateSavedForm(
	ctx context.Context,
	request *sequenzygo.UpdateSavedFormRequest,
	opts ...option.RequestOption,
) (*sequenzygo.UpdateSavedFormResponse, error) {
	response, err := c.WithRawResponse.UpdateSavedForm(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Updates a saved popup. Only the fields you send change.
//
// Set `status` to `published` to make the popup live, or `draft` to stop it showing while keeping the popup, its stats, and its embed script. `trigger`, `targeting`, `schedule`, `frequency`, and `visual` are merged key by key, so patching one key keeps the rest.
//
// Example:
//
//	request := &sequenzygo.UpdateSavedPopupRequest{
//	    PopupID: "popupId",
//	}
//	client.Widgets.UpdateSavedPopup(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) UpdateSavedPopup(
	ctx context.Context,
	request *sequenzygo.UpdateSavedPopupRequest,
	opts ...option.RequestOption,
) (*sequenzygo.UpdateSavedPopupResponse, error) {
	response, err := c.WithRawResponse.UpdateSavedPopup(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
